@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

.userList {
  overflow: none;
}

@media screen and (max-width: 1360px) {
  .userList {
    overflow-x: scroll;
  }
  
}