# Ignorer les fichiers et dossiers générés par l'environnement de développement
.vscode/
node_modules/
scss/

# Ignorer les fichiers de build
build/
dist/


# Ignorer les fichiers de logs
logs/

#Ignorer les fichiers de chat
chats/


# Ignorer les images sauf default.jpg
!/images/users/default.jpg


# Fichiers de configuration
PHPMailer/config.php
config.php

# Fichiers images
# image/
# !image/users/default-64px.png
# !image/users/default-128px.png
# !image/users/default-1024px.png
